In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1447,tt0206634,76000000,69959751,Children of Men,Clive Owen|Michael Caine|Julianne Moore|Charli...,Alfonso CuarÃ³n,The future's a thing of the past.,"In 2027, in a chaotic world in which humans ca...",109,Drama|Action|Thriller|Science Fiction,Universal Pictures|Strike Entertainment|Hit & ...,9/22/2006,7.3,2006
22,tt2126355,110000000,470490832,San Andreas,Dwayne Johnson|Alexandra Daddario|Carla Gugino...,Brad Peyton,"A rescue pilot survived an earthquake, this is...",In the aftermath of a massive earthquake in Ca...,114,Action|Drama|Thriller,New Line Cinema|Village Roadshow Pictures|Warn...,5/27/2015,6.1,2015
1175,tt0339034,12000000,4922166,From Justin to Kelly,Kelly Clarkson|Justin Guarini |Brandon Hensche...,Robert Iscove,The tale of two American Idols.,"A lonely, sexually repressed man. A depressed ...",90,Comedy|Romance,20th Century Fox,6/20/2003,3.5,2003
1006,tt1611224,69000000,112265139,Abraham Lincoln: Vampire Hunter,Benjamin Walker|Dominic Cooper|Anthony Mackie|...,Timur Bekmambetov,Are you a patriot or a vampire?,President Lincoln's mother is killed by a supe...,94,Action|Horror|Fantasy,Bazelevs Production|Tim Burton Productions|Abr...,6/20/2012,5.5,2012
1066,tt1566501,12000000,9622846,For Greater Glory - The True Story of Cristiada,Eva Longoria|Andy GarcÃ­a|Oscar Isaac|Peter O'...,Dean Wright,The True Story of Cristiada,"A chronicle of the Cristeros War (1926-1929), ...",145,Drama,Dos Corazones,6/1/2012,6.8,2012

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [4]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [234]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [5]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [233]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [6]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [232]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [7]:
answers['4'] = '2. 110'

In [25]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [8]:
answers['5'] = '1. 107'

In [21]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [9]:
answers['6'] = '5. Avatar (tt0499549)'

In [75]:
data['profit'] = data['revenue'] - data['budget']
data[data.profit == data.profit.max()]
# лучше код получения столбца profit вынести в Предобработку что в начале

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [10]:
answers ['7'] = '5. The Lone Ranger (tt1210819)'

In [76]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [11]:
answers ['8'] = '1. 1478'

In [229]:
data[data.revenue > data.budget].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1478 entries, 0 to 1884
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1478 non-null   object
 1   budget                1478 non-null   int64
 2   revenue               1478 non-null   int64
 3   original_title        1478 non-null   object
 4   cast                  1478 non-null   object
 5   director              1478 non-null   object
 6   tagline               1478 non-null   object
 7   overview              1478 non-null   object
 8   runtime               1478 non-null   int64
 9   genres                1478 non-null   object
 10  production_companies  1478 non-null   object
 11  release_date          1478 non-null   object
 12  vote_average          1478 non-null   float64
 13  release_year          1478 non-null   int64
 14  profit                1478 non-null   int64
dtypes: float64(1), int64(5), object(9)
memory usage: 184.8+ KB

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [12]:
answers ['9'] = '4. The Dark Knight (tt0468569)'

In [77]:
year_2008 = data[data['release_year'] == 2008]
year_2008[year_2008.revenue == year_2008.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [13]:
answers ['10'] = '5. The Lone Ranger (tt1210819)'

In [78]:
loss = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
loss[loss.profit == loss.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [14]:
answers ['11'] = '3. Drama'

In [79]:
pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts()
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

In [80]:
#ВАРИАНТ 2:))
genres_split = data.genres.str.split('|', expand = True)
# разделяем данные из колонки "жанры" в пять отдельных колонок
zero = genres_split[0].value_counts() #подсчитываем количество фильмов в каждом жанре в каждой из новых колонок
one = genres_split[1].value_counts()
two = genres_split[2].value_counts()
three = genres_split[3].value_counts()
four = genres_split[4].value_counts()
genres_merge = pd.concat([zero, one, two, three, four], axis=1) # объединяем колонки в таблицу
genres_merge.cumsum(axis=1).sort_values([4], ascending=False) #считаем кумулятивное значение по каждому жанру по всем колонкам

                     0      1      2      3      4
Drama            387.0  639.0  759.0  776.0  782.0
Comedy           398.0  576.0  644.0  676.0  683.0
Thriller          88.0  286.0  466.0  572.0  596.0
Action           382.0  505.0  565.0  579.0  582.0
Adventure        165.0  323.0  393.0  409.0  415.0
Crime             71.0  190.0  279.0  309.0  315.0
Romance           30.0  162.0  261.0  297.0  308.0
Family            23.0  106.0  205.0  250.0  260.0
Science Fiction   44.0   99.0  187.0  232.0  248.0
Fantasy           52.0  131.0  179.0  212.0  222.0
Horror           108.0  147.0  167.0  173.0  176.0
Mystery           19.0   72.0  130.0  162.0  168.0
Animation         75.0  114.0  134.0  137.0  139.0
Music             13.0   41.0   53.0   61.0   64.0
History            7.0   35.0   54.0   61.0   62.0
War               14.0   22.0   42.0   52.0   58.0
Western            7.0   10.0   13.0   18.0   19.0
Documentary        6.0    7.0    8.0    NaN    NaN
Foreign            NaN    NaN    1.0    2.0    NaN

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [15]:
answers ['12'] = '1. Drama'

In [81]:
pd.DataFrame(data[data['profit']>0]['genres'].str.split('|').tolist()).stack().value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [16]:
answers ['13'] = '5. Peter Jackson'

In [82]:
director = data.groupby('director')['revenue'].agg('sum').sort_values(ascending=False)
director

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [83]:
answers ['14'] = '3. Robert Rodriguez'

In [16]:
action = data[data.genres.str.contains('Action')]
director_split = action.director.str.split('|', expand=True) #разделяем колонку с режиссерами на отдельные колонки
action_genres = action.genres # из таблицы с фильмами экшн выделяем колонку с жанрами
merge_da = pd.concat([director_split, action_genres], axis=1) # объединяем таблицу с режиссерами с колонкой жанров
merge_da.columns = ['dir1', 'dir2', 'dir3', 'dir4', 'dir5', 'dir6', 'genres']
merge_da.info() # проверяем, сколько ненулевых значений в таблице. 
#Видим, что у фильма, как правило, один режиссер - его имя содержится в первой колонке, но вторую колонку тоже можно проанализировать
merge_da.groupby('dir1')['genres'].count().sort_values(ascending=False).head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 582 entries, 0 to 1886
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dir1    582 non-null    object
 1   dir2    34 non-null     object
 2   dir3    4 non-null      object
 3   dir4    1 non-null      object
 4   dir5    1 non-null      object
 5   dir6    1 non-null      object
 6   genres  582 non-null    object
dtypes: object(7)
memory usage: 36.4+ KB

dir1
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
Zack Snyder           5
Gore Verbinski        5
Peter Jackson         5
Paul Greengrass       5
Rob Cohen             5
Name: genres, dtype: int64

In [23]:
merge_da.groupby('dir1')['genres'].count().sort_values(ascending=False).head(10)
# на всякий случай анализируем вторую колонку с именами режиссеров - вдруг там есть кто-то,
# кто по сумме фильмов в 1 и 2 колонке может выйти на первое место

dir1
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
Zack Snyder           5
Gore Verbinski        5
Peter Jackson         5
Paul Greengrass       5
Rob Cohen             5
Name: genres, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [18]:
answers ['15'] = '3. Chris Hemsworth'

In [84]:
year_12 = data[data.release_year==2012] # создаем датафрейм с фильмами за 2012 год
cast_12 = year_12.cast.str.split('|', expand=True) # разделяем актеров по отдельным колонкам
revenue_12 = year_12.revenue # выделяем колонку с кассовыми сборами
merge_cr = pd.concat([revenue_12, cast_12], axis=1)
merge_cr.columns = ['revenue', 'actor1', 'actor2', 'actor3', 'actor4', 'actor5']
col1 = merge_cr.groupby('actor1')['revenue'].sum()# группируем по актерам и считаем сумму кассовых сборов по каждой колонке 
col2 = merge_cr.groupby('actor2')['revenue'].sum()
col3 = merge_cr.groupby('actor3')['revenue'].sum()
col4 = merge_cr.groupby('actor4')['revenue'].sum()
col5 = merge_cr.groupby('actor5')['revenue'].sum()
joined_actor = [col1, col2, col3, col4, col5]
actor_total = pd.concat(joined_actor) # сливаем все колонки в одну
actor_total.groupby(level=0).sum().sort_values(ascending=False) # группируем данные в колонке по актеру и получаем итоговую сумму!
#Ура! получилось!!!

Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [19]:
answers ['16'] = '3. Matt Damon'

In [46]:
high_budget = data[data.budget > data.budget.mean()]
pd.DataFrame(high_budget.cast.str.split('|').tolist()).stack().value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Ice Cube              1
Fred Ward             1
Steven Berkoff        1
Alice Evans           1
Jerry Seinfeld        1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [47]:
answers ['17'] = '2. Action'

In [48]:
nic = data[data.cast.str.contains('Nicolas Cage')]
nic_genres = pd.DataFrame(nic.genres.str.split('|').tolist()).stack().value_counts()
nic_genres

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Family              3
Mystery             3
History             2
Horror              1
Romance             1
War                 1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [21]:
answers ['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [85]:
paramount = data[data.production_companies.str.contains('Paramount Pictures')]
paramount[paramount.profit == paramount.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [22]:
answers ['19'] = '5. 2015'

In [86]:
data.groupby(['release_year'])['revenue'].agg('sum').sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [87]:
answers ['20'] = '1. 2014'

In [88]:
warner = data[data['production_companies'].str.contains('Warner Bros')]
warner.groupby(['release_year'])['revenue'].agg('sum').sort_values(ascending=False)

release_year
2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2745493377
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2266545668
2012    1869520056
2002    1702709901
2015    1691168351
2006    1521170743
2000    1025531386
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [89]:
answers ['21'] = '4. Сентябрь'

In [90]:
month = data.copy()
month.release_date=month.release_date.apply(lambda month: month[0:2]).str.replace('/','') # выделяем из даты число, обозначающее месяц
month.groupby(['release_date'])['imdb_id'].count().sort_values(ascending=False)

release_date
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [91]:
answers ['22'] = '2. 450'

In [92]:
147+142+161 # используем данные из прошлого вопроса и просто суммируем все летние месяцы

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [93]:
answers ['23'] = '5. Peter Jackson'

In [118]:
def winter(month): # функция, которая меняет цифры на названия времен года
    if int(month) == 12 or 1<=int(month)<=2:
        return 'winter'
    elif 3 <= int(month) < 6:
         return 'spring'
    elif 6<=int(month) <9:
        return 'summer'
    else:
        return 'fall'
seasons = month.copy() # используем датафрейм из прошлой задачи
seasons.release_date = seasons.release_date.apply(winter) #применяем функцию
winter = seasons[seasons.release_date == 'winter'] # в новом датафрейме оставляем только зиму
director_winter = winter.director.str.split('|', expand=True)
director_winter.columns = ['dir1', 'dir2', 'dir3', 'dir4', 'dir5', 'dir6', 'dir7', 'dir8', 'dir9', 'dir10', 'dir11', 'dir12']
release_winter = winter.release_date
merge_wd = pd.concat([release_winter, director_winter], axis=1)
col1 = merge_wd.groupby('dir1')['release_date'].value_counts()# группируем по режиссерам в каждой колонке и 
col2 = merge_wd.groupby('dir2')['release_date'].value_counts()# и считаем по каждому количество зимних релизов 
col3 = merge_wd.groupby('dir3')['release_date'].value_counts()
col4 = merge_wd.groupby('dir4')['release_date'].value_counts()
col5 = merge_wd.groupby('dir5')['release_date'].value_counts()
col6 = merge_wd.groupby('dir6')['release_date'].value_counts()
col7 = merge_wd.groupby('dir7')['release_date'].value_counts()
col8 = merge_wd.groupby('dir8')['release_date'].value_counts()
col9 = merge_wd.groupby('dir9')['release_date'].value_counts()
col10 = merge_wd.groupby('dir10')['release_date'].value_counts()
col11 = merge_wd.groupby('dir11')['release_date'].value_counts()
col12 = merge_wd.groupby('dir12')['release_date'].value_counts()

joined_director = [col1, col2, col3, col4, col5, col6, col7, col8, col9, col10, col11, col12]
director_total = pd.concat(joined_director) # сливаем все колонки в одну
director_total.groupby(level=0).sum().sort_values(ascending=False) 
#группируем снова всех режиссеров и считаем финальные зимы

dir1
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: release_date, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [119]:
answers ['24'] = '5. Four By Two Productions'

In [122]:
long_title = data.original_title # выделяем колонку с названиями
long_title = long_title.apply(lambda title: len(title)) #заменяем названия на число - длину названя
pc_split = pd.DataFrame(data.production_companies.str.split('|').tolist()) # разделяем студии из одной колонки на несколько
pc_title = pd.concat([pc_split, long_title], axis=1)
pc_title.columns = ['comp1', 'comp2', 'comp3', 'comp4', 'comp5', 'title_length']
comp1 = pc_title.groupby('comp1')['title_length'].agg('mean') # данные в каждой колонке группируем
comp2 = pc_title.groupby('comp2')['title_length'].agg('mean') # по студиям и считаем среднюю длину названия
comp3 = pc_title.groupby('comp2')['title_length'].agg('mean')
comp4 = pc_title.groupby('comp2')['title_length'].agg('mean')
comp5 = pc_title.groupby('comp2')['title_length'].agg('mean')
joined = [comp1, comp2, comp3, comp4, comp5]
total_list = pd.concat(joined).sort_values(ascending=False) # объединяем колонки в одну
total_list.groupby(level=0).mean().sort_values(ascending=False) 
# избавляемся от повторов, хитрым образом подсчитав среднее значение между идентичными значениями :)

Four By Two Productions    83.000000
Dos Corazones              47.000000
DreamWorks Pictures        46.000000
Paramount Pictures         43.352066
Lucasfilm                  41.500000
                             ...
Exodus Productions          4.000000
Exodus Film Group           4.000000
Dillywood                   4.000000
Everest Entertainment       3.000000
Ixtlan Productions          2.000000
Name: title_length, Length: 848, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [28]:
answers ['25'] = '3. Midnight Picture Show'

In [123]:
overview = data.overview # выделяем колонку, содержащую описания фильмов
overview_length = overview.apply(lambda description: len(description.split())) #описания заменяем числом - длиной слов
pc_overview = pd.concat([pc_split, overview_length], axis = 1)
pc_overview.columns = ['comp1', 'comp2', 'comp3', 'comp4', 'comp5', 'overview_length']
comp1 = pc_overview.groupby('comp1')['overview_length'].agg('mean')
comp2 = pc_overview.groupby('comp2')['overview_length'].agg('mean')
comp3 = pc_overview.groupby('comp3')['overview_length'].agg('mean')
comp4 = pc_overview.groupby('comp4')['overview_length'].agg('mean')
comp5 = pc_overview.groupby('comp5')['overview_length'].agg('mean')
joined = [comp1, comp2, comp3, comp4, comp5]
pd.concat(joined).sort_values(ascending=False)

Midnight Picture Show                             175.0
Radical Studios                                   169.0
Room 9 Entertainment                              161.0
Heineken Branded Entertainment                    159.0
98 MPH Productions                                159.0
                                                  ...
Our Stories Films                                  13.0
TDJ Enterprises / New Dimensions Entertainment     13.0
Motion Picture Corporation of America              11.0
Empire Pictures                                    11.0
Plan B Entertainment                               10.0
Name: overview_length, Length: 2727, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [29]:
answers ['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [124]:
data.vote_average.describe(percentiles=[0.99])
data[data.vote_average>7.8]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [30]:
answers ['27'] = 'нет ответа'

ВАРИАНТ 2

# Submission

In [31]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'нет ответа'}

In [32]:
# и убедиться что ни чего не пропустил)
len(answers)

27